<div>
    <div class="card">
        <h2>counter: {{injectableService.counter}}</h2>
        <button class="btn btn-success" (click)="injectableService.increase()">increase</button>
        <button class="btn btn-danger" (click)="injectableService.decrease()">decrease</button>
    </div>
    <div class="card">
        <h2>counter of local service: {{localServiceService.counter}}</h2>
        <button class="btn btn-success" (click)="localServiceService.increase()">increase</button>
        <button class="btn btn-danger" (click)="localServiceService.decrease()">decrease</button>
    </div>
</div>