<div class="header-container">
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['intro']">
        <div class="header-caption">intro</div>
      </a>
    </div>
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['injectable']">
        <div class="header-caption">@Injectable</div>
      </a>
    </div>
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['localService']">
        <div class="header-caption">local service</div>
      </a>
    </div>
  </div>